<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
  <div class="span2"></div>
  <div class="hero-unit header span8">
    <div class="row-fluid">

      <div class="span2 ">
        <img class="pull-right img-rounded  vertical-center"  src="/assets/img/me.jpg"/>
      </div>
      <div class="span10">
        <div class="row-fluid">
          <h1 id="home">{{site.name}}</h1>
        </div>

        <div class="row-fluid">

          <p>{{site.description}}</p>
        </div>
        <div class="row-fluid" style="padding-left:10px;padding-top:10px; margin-top:-20px">
          <div class="btn-group">
            <a class="btn-soc" href="http://www.linkedin.com/in/cwoodall/"><img class="img-rounded" src="/assets/img/glyphicons/png/glyphicons_397_linked_in.png" /></a>
            <a class="btn-soc" href="http://www.github.com/cwoodall"><img class="img-rounded" src="/assets/img/glyphicons/png/glyphicons_401_github.png" /></a>
            <a class="btn-soc" href="http://www.youtube.com/user/circuitwoodall"><img class="img-rounded" src="/assets/img/glyphicons/png/glyphicons_402_youtube.png" /></a>
            <a class="btn-soc" href="http://www.twitter.com/cjwoodall"><img src="/assets/img/glyphicons/png/glyphicons_411_twitter.png" class="img-rounded"/></a>
            <a class="btn-soc" href="mailto:chris.j.woodall+web@gmail.com"><img src="/assets/img/glyphicons/png/glyphicons_419_e-mail.png" class="img-rounded" /></a>
            <a class="btn-soc" href="http://www.happyrobotlabs.com"><img src="/assets/img/glyphicons/png/glyphicons_265_electrical_plug.png" class="img-rounded" /></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="span2"></div>
</div> <!-- /header -->
