<div class="row-fluid">
	<h2 style="margin:0">View Resume</h2>
	<p>Download my resume in either plain text or pdf format. Feel free to <a href="#contact">contact me</a> for more details</p>
	<div class="btn-group txt-center">
		<a href="/assets/resume/cjwoodall_resume.pdf" class="btn btn-small">.PDF</a>
		<a href="/assets/resume/cjwoodall_resume.txt" class="btn btn-small">.TXT</a>
	</div>
</div>

<div id="blogroll" class="row-fluid">
	<h2 style="margin:0">Links</h2>
	<ul>
		<li><a href="http://www.embedded.fm">Embedded.fm</a></li>
		<li><a href="http://www.theamphour.com">The Amp Hour</a></li>
		<li><a href="http://www.hackaday.com">Hack A Day</a></li>
	</ul>
</div>
<div id="contact" class="row-fluid">
	<h2 style="margin:0">Contact</h2>
	<ul>
		<li><a href="mailto:chris.j.woodall+web@gmail.com">E-Mail</a></li>
		<li><a href="http://www.twitter.com/cjwoodall">Twitter</a></li>
		<li><a href="https://www.linkedin.com/in/cwoodall/">Linked In</a></li>
	</ul>
</div>
