.top-padding {margin-top:20px; padding-top:30px;}
.hero-unit {background-color:#DFE6E9; padding:20px !important;}

p {
  padding: 10px;
}

.txt-center {
  width:100%;
  text-align:center !important;
  display:inline-block;
  vertical-align:middle;
}
.txt-right { text-align:right !important; }
div.current-project img { text-align: center !important; }
a.btn-soc { padding-right:20px; }

div.project-img-div img {
  max-height:350px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div.portfolio-entry {
  margin-bottom: 20px;
  margin-top: 10px;

}

.portfolio-img-grid {  }

.portfolio-img-grid-entry:hover .portfolio-img-grid-entry-info {
  opacity            : .7;
  filter             : alpha(opacity=70);
}

.portfolio-img-grid-entry-info {
  color: white;
position:absolute;
  top      : 0;
  right    : 0;
  left     : 0;
  height   : 100%;
  z-index  : 2;
  margin:0;
    margin-left:10px;

  padding-left: 5px;
      background         : #222;
    border             : 1px solid black;
    opacity            : 0;
    filter             : alpha(opacity=0);
    -webkit-transition : opacity 0.25s linear;
    -moz-transition    : opacity 0.25s linear;
    -ms-transition     : opacity 0.25s linear;
    -o-transition      : opacity 0.25s linear;
    transition         : opacity 0.25s linear;
}

.my-footer {
  background-color: black;
  -webkit-border-radius: 0 0 0px 0px !important;
     -moz-border-radius: 0 0 0px 0px !important;
          border-radius: 0 0 0px 0px !important;

  -webkit-box-shadow: 0px 500px 0px 500px #000 !important;
     -moz-box-shadow: 0px 500px 0px 500px #000 !important;
          box-shadow: 0px 500px 0px 500px #000 !important;

  color: #666;
}

.portfolio-img-grid-entry {
  margin: 0px 0px 10px 0px !important;
  padding-left:10px;
  position : relative;
  display  : inline-block;
}

@media screen and (max-width: 480px)
{

.mobile-hide{ display:none; }

}
