---
layout: default
title: Christopher Woodall - Blog
---

{% for entry in site.categories.blog limit:10 %}
<div class="row-fluid blog-entry">
	<div class="row-fluid blog-entry-title">
		<a href="{{entry.url}}" class="blog-name"><h4 class="blog-name txt-center">
						{{entry.title}}
					</h4></a>
	</div>
	<div class="row-fluid">

		<p class="txt-center">Written by {{entry.author}} on {{entry.date | date_to_string}}</p>
	</div>
	<div class="row-fluid">
		{% if entry.image %}
		<div class="row-fluid blog-img-div txt-center">
			<img src="{{entry.image}}" alt="{{entry.title}}" />
		</div>
		{%endif%}
		<div class="span12 blog-desc">
			{% if entry.content contains "
			<!-- more -->" %} {{ entry.content | split:"
			<!-- more -->" | first }} {% else %} {{ entry.content | strip_html | truncatewords:100 }} {% endif %}

		</div>
		<div class="text-center"><a class="btn btn-primary" href="{{entry.url}}"> Read More </a></div>

		<hr />
	</div>
</div>
{%endfor%}

<div class="text-center">
	<a class="btn" href="/blog/archive.html">
		Continue to Archive
		</a>

	<a class="btn" href="feed.xml">Subscribe To Blog (rss)</a>
</div>
