---
layout: default
title: Chris J. Woodall - Portfolio
---

{% include header.html %}

<div class="row-fluid">
<div class="span8">
	<div class="row-fluid portfolio-img-grid">
		{% for entry in site.categories.portfolio %}
			<div class="span3 portfolio-img-grid-entry">
				
				<a  class="" href="#portfolio_{{entry.id}}">
					<div class="img-rounded portfolio-img-grid-entry-info" style="">
					<h5>{{entry.title}}</h5>

					<p class="text-right">Click for more &raquo;</p>
					</div>
					<img class="img-rounded" src="{{entry.image}}" alt="{{entry.title}}" />
				</a>

			</div>
		{%endfor%}

	</div>
<hr/>
{% for tag in site.portfolio_tags %}  {% assign tag_section = 0 %}
<div class="row-fluid portfolio-section">
	{% for entry in site.categories.portfolio %} {% if entry.tags contains tag %}
		{% if tag_section == 0 %}
		<div class="row-fluid"><h1></h1></div>{% assign tag_section = 1 %}
		{% endif %}
		
		<div id="portfolio_{{entry.id}}" class="row-fluid portfolio-entry">
			<div class="span5 portfolio-img-div" >
				<img src="{{entry.image}}" alt="{{entry.title}}" style="" />
			</div>
			<div class="span7 portfolio-desc-div">
				<div class="row-fluid">
					<h3 class="portfolio-name" style="margin:0 0 0 0;">
					{{entry.title}} 
					</h3>
				</div>

				<div class="row-fluid">
					<h4 class="portfolio-date" style="margin:0 0 0 0;">
						<i>{{entry.date_description}}</i>			
					</h4>
				</div>
				<div class="portfolio-desc row-fluid">
					{{entry.content | markdownize}}
				</div>

				{% if entry.partners %}
				<div class="portfolio-partners row-fluid">
					<p>Partners: 
					{% for partner in entry.partners %}
						{{partner | markdownize}}{% if forloop.rindex0 > 0 %}, {%endif%}
					{% endfor %}
				</p>
				</div>
				{%endif%}
				<div class="portfolio-links btn-group txt-center">

					{% if entry.documentation %}
					<a class="btn" href="{{entry.documentation}}">
						Documentation
					</a>
					{% endif %}

					{% if entry.source %}
					<a class="btn" href="{{entry.source}}">
						Source
					</a>
					{% endif %}

					{% if entry.video %}
					<a class="btn" href="{{entry.video}}">
						Video
					</a>
					{% endif %}

				</div>
			</div>
		</div>
						<hr />

	{%endif%}{%endfor%}

</div>
{% endfor %}
</div>

<div class="span4 well">
	{%include sidebar.html%}
</div>
</div>