---
layout: default
---
{% include header.html %}

<div class="row-fluid">
	<div class="span8">
		<div class="row-fluid">
			<div class="span8"><h2 style="margin:0">{{ page.title }}</h2></div>
		</div>

		<div class="row-fluid">
			<p style="margin:0" class="meta pull-right">{{ page.date | date_to_string }} by {{page.author}}</p>
		</div>
		{% if page.image %}
		<div class="row-fluid txt-center blog-img-div" >
			<img src="{{page.image}}" alt="{{padge.title}}" style="height:200px"/>
		</div>
		{%endif%}

		<div class="row-fluid post">
		 <p>{{ content }}</p>
		</div>
	</div>
	<div class="span4 well">
		{% include sidebar.html %}

	</div>
</div>
